
@font-face{
	src:url('../fonts/Graphik-Regular.woff2');
	font-family:'Graphik';
}

@font-face{
	src:url('../fonts/Graphik-Medium.ttf');
	font-family:'GraphikMedium';
}

@font-face{
	src:url('../fonts/gordita-bold-webfont.woff2');
	font-family:'GorditaBold';
}

@font-face{
	src:url('../fonts/Inter-Regular.ttf');
	font-family:'InterRegular';
}

@font-face{
	src:url('../fonts/Inter-Medium.ttf');
	font-family:'InterMedium';
}

@font-face{
	src:url('../fonts/Inter-SemiBold.ttf');
	font-family:'InterSemiBold';
}

@font-face{
	src:url('../fonts/Inter-Bold.ttf');
	font-family:'InterBold';
}

$text_dark: rgba(0,0,0,.87);
$text_dark_light: rgba(0,0,0,.60);
$text_dark_disabled: rgba(0,0,0,.38);

$text_white: rgba(255,255,255,1);
$text_white_light: rgba(255,255,255,.7);
$text_white_disabled: rgba(255,255,255,.32);



$type_regular: 'Graphik';
$type_medium: 'GraphikMedium';



$litewallet_color: #3600B3;


$title_large: 43.25px;
$title: 34px;
$subtitle: 24px;
$caption: 18.96px;
$smaller_caption: 16.86px;


$litewallet_gradient: linear-gradient(to bottom right, #7A23E1, #440FBF);


$margin_left:5.4%;


*{
	margin:0px;
	padding:0px;
}

html{
	overflow-x:hidden;
}

.container.smaller_version{
	height:100%;
	overflow:hidden;
}


html,body{
	height:100%;
	width:100%;
	font-family:$type_regular;


	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.clear{
	clear:both;
}

.dark_background{
	background:#000;
}

.dark_background .home_heading{
	color:$text_white;
}

.dark_background .home_subheading{
	color:$text_white_light;
}

a{
	text-decoration:none;
	color:$text_dark;
}


.title{
	font-family:$type_medium;
	font-size:34px;
	line-height:56px;
}
.subtitle{
	font-family:$type_regular;

}

.selected_text{
	color:$litewallet_color;
}


.inline_element{
	display:inline-block;
}


.flat_button{
	color:$litewallet_color;
	font-family:$type_medium;
	font-size:21.33px;

}

.flat_button span{
	margin-left:4px;
}


.input_field{
	
}

.input_field:focus, button:focus{
	border:none;
	outline:none;
}



.container{
position:relative;
	height:100%;
	width:100%;
	overflow-x:hidden;
}

.top_container{
position:relative;
	min-height:540px;
	height:100%;
	width:100%;

}

.right_background_container{
	position:absolute;
	top:0%;
	right:0%;
	height:100%;
	width:47.5%;

	background-image:url('../images/litewallet_background_pattern.jpg');
    background-size:cover;
    z-index:20;
}




.top_inner_container{
min-height:240px;
height:100%;
	width:94%;
	padding-left:$margin_left;
}


.top_nav_container{
	position:relative;
	width:100%;
	min-height:120px;

	z-index:50;
}

.top_nav_scrim{
	position:absolute;
	top:0px;
	left:0px;
	height:120px;
	width:100%;
	background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,0));

	padding-top:1.2%;
	z-index:60;
}

.logo_container{
width:100%;
min-height:64px;
	padding-top:2.6%;
}

img.logo{
	height:40px;
	width:152px;
}


.text_slider{
	display:inline-block;
}


.top_nav_container .logo_container a img{

}


.nav_container{
float:right;
	width:70%;
}

.nav_container ul li{
	list-style-type:none;
	float:left;
	color:$text_white;
	font-family:$type_medium;
	padding-left:7%;
	font-size:16px;
}
.nav_container ul li a{
	text-decoration:none;
		color:$text_white;
	font-family:$type_medium;

	font-size: $smaller_caption;
}
.nav_container ul li a:hover{
	text-decoration:underline;
}


.top_left_container{
float:left;
width:52.5%;	


/*
box-shadow:12px 12px 16px 12px #ffffff;
-webkit-box-shadow:12px 12px 16px 12px #ffffff;
-moz-box-shadow:0px 12px 16px 12px #ffffff;
-ms-box-shadow:0px 12px 16px 12px #ffffff;
-o-box-shadow:0px 12px 16px 12px #ffffff;
*/

}


.top_right_container{
	
float:left;
width:47.5%;
height:100%;

}



.top_text_container{
margin-top:21%;
width:96%;
padding-right:4%;
padding-top:5.5%;
}
.text_title_container{
	width:92%;
	color:$text_dark;
	padding:0%;
	text-align:left;
	font-family:$type_medium;
	font-size:33.5px;
	line-height:54px;

}

.text_desc_container{
	
	font-family:$type_regular;
	font-size:20px;
	line-height:40px;
		width:92%;
		padding-top:1.8%;
	padding-right:4%;
	text-align:left;
}
.signup_container{
	margin-top:6.5%;
	width:96%;
	padding-right:4%;
}
.signup_label{
font-family:$type_medium;
font-size:18.96px;
text-align:center;
width:100%;
padding-top:4%;
}

.signup_input_container{
	width:100%;
	text-align:center;
}

.signup_inner_container{
	width:100%;
	text-align:center;
}

input[type="text"]{
	border:none;
	border-radius:4px;
	padding:16px;
	font-family:$type_regular;
	font-size:18px;
}
.signup_input{
	background:#ddd;
	margin-top:16px;
	width:240px;
}
.signup_button{
	
}


#signup_message{
	
	font-family:$type_regular;
	font-size:18px;
	padding-top:16px;
	line-height:28px;
	display:none;

}

#signup_message.invalid{
	color:red;
	display:block;
}

#signup_message.successful{
   color:green;	
   display:block;
}


.signup_success_title{
	font-family:$type_medium;
	font-size:$subtitle;
	line-height:32px;
	color:green;
}

.signup_success_message{
	font-family:$type_regular;
	font-size:20px;
	line-height:36px;
	padding-top:16px;
	width:80%;
}




button{
	border:none;
	border-radius:4px;
	cursor:pointer;
	font-family:$type_medium;
}

button.signup_button{
	
	margin-left:-8px;
}

button.raised_button{
	background:$litewallet_gradient;
	color:$text_white;
	padding:16px 20px;
	font-size:15.7px;
}


.signup_avatars_container{
	padding-top:24px;
	text-align:left;
	display:none;
}

.avatar_single{
	display:inline-block;
	margin-left:-16px;
}

.avatar_single img{
height:32px;
width:32px;
border-radius:50%;
border:2px solid #fff;
}

.signup_avatars_text{
	padding-top:24px;
	font-family:$type_regular;
	font-size:$smaller_caption;
	text-align:center;
	width:100%;
	color:$text_dark;
}

.top_signup_container .signup_label, .top_signup_container .signup_input_container, .top_signup_container .signup_inner_container, .top_signup_container .signup_avatars_text{
	text-align:left;
}
.top_signup_container{
	padding-top:8px;
}


.bottom_container{
	min-height:240px;
	width:100%;
}

.logo_left{
	float:left;
	width:38%;
}

.currently_serving{
	float:right;
	padding-right:3%;
	width:46%;
	padding-top:12px;
	color:$text_dark_light;
}


.section{
padding:56px 0px 104px 0px;	
}

.features_container{
	margin-top:3%;
	width:88%;
	padding-left:6%;
}

.heading_container{
	
}
.home_heading{
	font-family:$type_medium;
	font-size:34px;
	line-height:56px;
	width:88%;
	padding:0% 6%;
	color:$text_dark;
text-align:center;
}
.home_subheading{
margin-top:8px;
	font-family:$type_regular;
	font-size:22px;
		width:88%;
	padding:0% 6%;
	color:$text_dark_light;
text-align:center;
}


.features_content_container{
	
}

.features_content_container{
	margin-top:80px;
}

.feature_container{
	
	height:420px;
	width:94%;
	padding:0px 3%;
}

.feature_text{
	float:left;
	width:40%;
	position:relative;
	height:320px;
	display:table;
}


.feature_text_heading{
	font-size:30.38px;
	line-height:48px;
	font-family:'InterMedium';
	text-align:left;
}


.feature_text_body{
	font-size:21.33px;
	line-height:36px;
	font-family:'InterRegular';
	margin-top:16px;
	text-align:left;
	color:$text_dark_light;
}


.feature_graphic{
float:right;
	width:50%;
	height:320px;
	position:relative;
	margin-left:4%;
}

.feature_graphic_inner{
	
display:table-cell;
vertical-align: middle;
}


.feature_graphic_inner img.screenshot{
position:relative;
	width:247px;
	height:434px;
	margin-left:-34%;
	box-shadow:0px 0px 3px 3px rgba(0,0,0,.12);
	-webkit-box-shadow:0px 0px 3px 3px rgba(0,0,0,.12);
}

.feature_graphic_inner img:nth-child(1){
	margin-left:0px;
	z-index:10;
}


.feature_graphic_inner img:nth-child(2){
	z-index:8;
}

.feature_graphic_inner img:nth-child(3){
	z-index:6;
}


.feature_container:nth-child(2n) .feature_graphic{
	float:left;
}

.feature_container:nth-child(2n) .feature_text{
	float:right;
}



.feature_container{
	margin-top:80px;
}
.feature_container:nth-child(1){
	margin-top:64px;
}

.feature_text_inner{
display:table-cell;
vertical-align: middle;
}

.section_seperator{
	margin-top:48px;

}
.seperator{
	background:#ddd;
	height:1px;
	width:88%;
	margin:0 6%;
}

.one_wallet_container{
width:100%;
}

.be_among_the_first_container{
	
}

.footer{
	background:#000;
	width:100%;
	padding:32px 0px;
	min-height:120px;
}

.be_among_the_first_container .signup_container{
	margin-top:0px;
}

.footer_list{
width:100%;
	margin-left:6%;
}
.footer_list ul li{
	list-style-type:none;
	margin-left:24px;
	color:$text_white;
	float:left;
	font-family:'InterMedium';
	font-size:18.96px;

}
.footer_list ul li:nth-child(1){
	margin-left:0px;
}

.footer_list ul li a{
	color:$text_white;
}

.footer_logo{
	margin:88px 0px 24px 0px;
	text-align:center;
}

.footer_logo img.logo{
	height:50px;
	width:180px;
}

.footer_terms{
	color:$text_white_light;
	font-size:18.96px;
	width:100%;
	text-align:center;
}


.one_wallet_container{
	padding-bottom:136px;
}


.wallets_container{
//	margin:80px 0px 16px 0px;
margin-top:72px;
	width:100%;
	text-align:center;
}

.wallet_container{
display:inline-block;

}


.wallet_container_single{
	width:100%;
	margin-top:32px;
}

.wallet_container_single:nth-child(1){
	margin-top:0px;
}

.wallet_container_single:nth-child(1), .wallet_container_single:nth-child(3){
	opacity:.15;
}



.wallet_container img{
height:157px;
width:274px;
margin-left:40px;


box-shadow:	3px 3px 6px 4px rgba(0,0,0,.12);
-webkit-box-shadow:	3px 3px 6px 4px rgba(0,0,0,.12);
}

.wallet_container:nth-child(1) img{
	margin-left:24px;
}



.wallets_body_container{
	

}

.wallets_list_container{
	width:80%;
	min-height:120px;
	margin-left:10%;
	padding-top:32px;
}

.wallets_list{
	width:46%;
	float:left;
	margin-top:88px;

}

.wallets_list:nth-child(2n){
	margin-left:6%;
}

.wallets_list_title{
font-family:'InterMedium';
font-size:30.38px;
color:$text_white;	
width:100%;
text-align:center;
}


.wallets_list_body{
	margin-top:24px;
	font-family:'InterRegular';
	font-size:20px;
	line-height:36px;
	color:$text_white;	
	height:144px;
width:100%;
text-align:center;

}

.wallets_list:nth-child(3), .wallets_list:nth-child(4){
	margin-top:64px;
}



.wallets_list_icon{
	width:100%;
	text-align:center;
	height:104px;
}

.wallets_list_icon_circle{
height:80px;
width:80px;
display:inline-block;

border-radius:50%;
}
.wallets_list_icon_circle img{
	height:72px;
	width:72px;

}







/*  About Page Styles  */

.top_overlay{
position:absolute;
top:0px;
left:0px;
height:100%;
width:100%;
z-index:2;
	background:rgba(0,0,0,0.52);
}
.overlay_text_container{
	position:relative;
	height:100%;
	width:100%;
	z-index:5;
}

.title_seperator_container{
	text-align:center;
	margin:16px 0px;
}

.title_seperator{
display:inline-block;
	height:2px;
	width:12%;
	background:#eee;
}

.title_seperator.lighter{
	height:1px;
	background:#ddd;
}


.about_container .top_nav_scrim{
	height:180px;
}

.about_container.container .top_container{
	background-image:url('../images/About Background.jpg');
	height:564px;
}
.about_title_container{
	color:$text_white;
	font-family:'InterMedium';
	font-size:$title_large;
	text-align:center;
	width:72%;
	padding:0 14%;
}

.about_desc_container{
	color:$text_white;
	text-align:center;
	width:72%;
	padding:0 14%;
	margin-top:1.5%;
	font-family:'InterRegular';
	font-size:23px;
	line-height:36px;
	margin-top:24px;
}

.about_section{
	padding:48px 0px;
}

.about_title_container{
	
}

.about_section_heading{
	color:$text_dark;
}

.about_section_subheading{
	
}

.about_seperator_container{
	width:100%;
margin-top:8px;
	text-align:center;
}

.about_seperator{
display:inline-block;
	width:120px;
	height:2px;
	background:#ddd;
}


.mission_container{
	
}

.about_section_body{
	font-family:'InterRegular';
	font-size:21.33px;
	line-height:36px;
	color:$text_dark;
	width:100%;
	padding:0px;
	margin-top:32px;
}

.about_container .about_section.dark_background .about_section_heading{
	
	color:$text_white;
}

.about_container .about_section.dark_background .about_section_body{
	
	color:$text_white;
}


.mission_list_container{
	margin-top:48px;
}


.mission_list{
	margin-top:40px;
	min-height:56px;
	width:100%;
}

.mission_list:nth-child(1){
	margin-top:0px;
}

.mission_list_number{
display:inline-block;
height:56px;
width:56px;
}


.list_number_container{
height:56px;
width:56px;
border-radius:28px;
border:1px solid #ddd;
overflow:hidden;
}

.list_number_text{
	font-family:'InterMedium';
font-size:24px;
color:$text_dark;
padding:12px 10px;
}

.mission_list_text{
display:inline-block;
	margin-left:12%;
}

.mission_list_text_heading{
font-family:'InterMedium';
font-size:24px;
color:$text_dark;	
text-align:left;

}

.mission_list_text_body{
font-family:'InterRegular';
font-size:21.33px;
line-height:36px;
margin-top:16px;	
text-align:left;

color:$text_dark;
}

.our_values_container{
	padding-bottom:104px;
}




/* Privacy Policy Styles */




.privacy_policy_container .top_nav_scrim{
	background:none;
}

.privacy_policy_container .top_container{
	background:none;
}

.white_background .top_nav_container .nav_container ul li a, .white_background .title_container, .white_background .desc_container{
	color:$text_dark;
}

.privacy_policy_container .title_container{
	text-align:left;
	width:100%;

}


.privacy_policy_container .top_container{
padding-bottom:72px;
height:auto;
min-height:160px;
width:100%;
}

.privacy_policy_container .title_seperator_container{
	text-align:left;
	margin-top:8px;
}
.privacy_policy_container .title_seperator{
	width:96px;
}

.privacy_policy_container .desc_container{
	line-height:36px;
	font-size:20px;
	width:72%;
	padding-top:16px;
}




/* Contact Us Styles  */

.contact_container{
	
}

.contact_container .top_text_container{
	margin-top:3%;
}


.contact_container .title_container{
	text-align:center;
	width:80%;
	padding:0 10%;
}

.contact_container .top_container{
	height:auto;
	background:none;
	padding-bottom:96px;
}

.contact_container .top_nav_scrim{
	background:none;
}


.desc_list_container{
margin-top:32px;
text-align:center;
min-height:120px;
width:84%;
padding:0 8%;	
margin-top:48px;
}

.desc_list{
float:left;
	margin-left:72px;
	width:28%;

}
.desc_list:nth-child(1){
	margin-left:0px;
}

.desc_list_title{
	font-family:'InterMedium';
	font-size:24px;
	text-align:center;
}
.desc_list_body{
font-family:'InterRegular';
font-size:21.33px;
line-height:32px;
	margin-top:24px;
	width:100%;
	text-align:center;
}




/* For Brands Styles */



.for_brands_container .top_container, .for_brands_container .top_nav_scrim{
	background:none;
}


.for_brands_container.container{
}


.for_brands_container .top_text_container{
	margin-top:4%;
	min-height:120px;
	width:100%;
}

.for_brands_container .title_seperator_container{
	
	text-align:left;
	margin-top:8px;
}


.for_brands_container .title_seperator{
width:96px;
}

.for_brands_container .title_container{
	width:100%;
	font-size:$title;
	font-family:'InterMedium';
	line-height:60px;
}


.desc_container{
	width:100%;
	font-size:$subtitle;
	line-height:44px;
	padding-top:8px;
}


.left_floated_container{
float:left;
width:52%;	

}

.right_floated_container{
	float:left;


}
.right_floated_container img{	
position:relative;
	height:459px;
	width:470px;
	margin-top:-10%;
	z-index:-10;
}

.for_brands_illustration img{
		height:373px;
	width:381px;
}

.signup_as_brand_container{
	
margin-top:32px;

}

.signup_as_brand_text{
	font-size:24px;
}


.brands_features_container{
	margin-left:6%;
	width:90%; 
	margin-top:128px;
	padding-bottom:96px;
}

.brands_feature{
	margin-top:80px;
	width:88%;
	padding-left:6%;
	border-left:4px solid $litewallet_color;
	min-height:160px;
	padding-top:16px;
	padding-bottom:16px;
}
.brands_feature:nth-child(1){
	margin-top:0px;
}

.brands_feature_title_container{
	float:left;
	width:44%;
}

.brands_feature_image_container{
	float:right;
	width:48%;
	margin-top:3%;
}


.brands_feature_title{
	font-family:'InterMedium';
	font-size:30.38px;
	margin-top:16px;
}

.brands_feature_body{
	margin-top:32px;
	font-family:'InterRegular';
	font-size:20px;
	line-height:36px;
}

.brands_feature_title_caption{
	font-family:'InterRegular';
	font-size:$caption;
	color:$litewallet_color;
}



.brands_feature_list_container{
	margin-top:24px;
}

.brands_feature_list{
	margin-top:24px;
}


.brands_feature_list:nth-child(2n) .brands_feature{

}


.brands_feature:nth-child(2n){
	border-left:none;
	border-right:4px solid $litewallet_color;	
	padding-left:0%;
	padding-right:6%;
}

.brands_feature:nth-child(2n) .brands_feature_title_container{
	float:right;
}

.brands_feature:nth-child(2n) .brands_feature_image_container{
	float:left;
}


.brands_feature_list:nth-child(1){
	margin-top:0px;
}


.brands_feature_list_container ul li{
	list-style-type:none;
}

.feature_list_title{
	font-family:'InterMedium';
	font-size:21.33px;
}


.feature_list_body{
	margin-top:16px;
	font-family:'InterRegular';
	font-size:20px;
}


.for_brands_litewallet_offers_title{
	font-family:'InterMedium';
	font-size:34px;
	width:100%;
	text-align:center;
	line-height:56px;
	margin-top:120px;
}



// Styles for Top Containers


.white_background .top_container .top_right_container{
	background:#fff;
}

.white_background .top_navigation .currently_serving, .full_bleed_background .top_navigation .currently_serving{
	display:none;
}

.white_background .top_container .logo_container, .full_bleed_background .top_container .logo_container{
	float:none;
}


.white_background .top_text_container{
padding-right:0%;
width:100%;	
}


.full_bleed_background .top_nav_scrim{
	
background:none;
}
.full_bleed_background .top_text_container{
margin-top:0%;
	padding-top:14%;
}


.top_navigation{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	min-height:120px;
	z-index:30;
}

.top_navigation_left{

float:left;
width:46.5%;
padding-left:$margin_left;
	
}

.top_navigation_right{
	
float:right;
width:47.5%;
}

.top_nav_scrim{
	padding-top:5%;
}

.white_background .top_left_container{
	padding-top:13%;
}


.for_brands_container .top_right_container{
	z-index:-10;
}


.for_brands_container .top_right_container img{	
position:relative;
	height:459px;
	width:470px;
	margin-top:18%;
	margin-left:12%;
	z-index:10;
}

.privacy_policy_container .top_text_container{
margin-top:6.5%;	
}









.feature_container:nth-child(2) .feature_graphic{
	
margin-left:-4%;
}






// Store Tools Features Container


.store_tools_features_container{
	margin-top:48px;
}

.store_tools_features_text{
	font-family:'InterRegular';
	font-size:24px;
	line-height:44px;
	width:100%;
padding:0%;
text-align:center;
}

.store_tools_features_container{
	width:100%;
	text-align:center;
}

.store_tools_features_single{
	padding:16px;
	display:inline-block; 
	border:1px solid #ddd;
	border-radius:6px;
	width:240px;
	height:152px;
}
.store_tools_features_single_text{
	font-family:'InterRegular';
	font-size:20px;
	line-height:36px;
}

.store_tools_features_mockups{
	margin-top:0px;
    width:100%;
	text-align:center; 
}

.store_tools_features_icon{
	width:100%;
	text-align:center;
}

.store_tools_features_icon img{
	height:64px;
	width:64px;
}


.store_tools_mockups_single{
display:inline-block;
margin-left:-7%;	

}

.store_tools_mockups_single:nth-child(1){
	margin-left:-4%;
	vertical-align:272px;
}

.store_tools_mockups_single:nth-child(2){

vertical-align:120px;
}

.store_tools_mockups_single:nth-child(3){

vertical-align:188px;
}


.store_tools_mockups_single:nth-child(4){

vertical-align:288px;
}



.store_tools_mockups_single img{
	height:554px;
	width:373px; 
}

.home_para{
	margin-top:40px;
	width:100%;
	text-align:center;
}

.home_para:nth-child(1){
	margin-top:0px;
}

.grow_your_brand_container{ 
	padding-bottom:0px;
	background:#f9f9f9;
}

.home_para_line{
	width:80%;
	padding:0 10%;
	font-family:'InterMedium';
	font-size:24px;
	line-height:40px;
	margin-top:8px;
}
.home_para_line:nth-child(1){
	margin-top:0px;
}


.know_more_about_tools{
	margin-top:24px;
	width:100%;
	text-align:center;
}
.know_more_about_tools a{
	
}




// 


.customers_section_container{
width:100%;
}
.customers_content_container{
width:88%;
padding:0 6%;	
margin-top:6%;
min-height:120px;
}

.customers_single_container{
position:relative;
float:leaddressft;
	width:48%;
	min-height:480px;
	background-image:url('../images/For Customers.jpg');
	background-size:cover;
}
.customers_single_container:nth-child(2){
	margin-left:4%;
		background-image:url('../images/For Brands.jpg');
}

.customer_single_title{
	
}

.image_overlay_container{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background:rgba(0,0,0,.4);
}




